In [67]:
# importar librerias
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [68]:
def sacar_url (ciudad, zona, barrio): 
    
    '''    
    A través de la ciudad, la zona y el barrio obtenemos los datos de la pagina de idealista
    
    Revisar el formato que tenga el url en la web, por ej:
    
    url = "https://www.idealista.com/venta-viviendas/sevilla/centro/arenal-museo-tetuan/"
    
    '''
    
    url = f"https://www.idealista.com/venta-viviendas/{ciudad}/{zona}/{barrio}/"
    
    headers = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36",
    "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8",
    "accept-language": "en-US;en;q=0.9",
    "accept-encoding": "gzip, deflate, br"}
    response = requests.get(url, headers=headers)
    
    if (response.status_code == 200):
        
        soup = BeautifulSoup(response.content, "html.parser")
        return soup
        
        
    else: 
        print(f"Error en la solicitud. Código de estado: {response.status_code}")

In [69]:
def sacar_url1 (ciudad, zona): 
    
    '''    
    A través de la ciudad, la zona y el barrio obtenemos los datos de la pagina de idealista
    
    Revisar el formato que tenga el url en la web, por ej:
    
    url = "https://www.idealista.com/venta-viviendas/sevilla/centro/arenal-museo-tetuan/"
    
    '''
    
    url = f"https://www.idealista.com/venta-viviendas/{ciudad}/{zona}/"
    
    headers = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36",
    "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8",
    "accept-language": "en-US;en;q=0.9",
    "accept-encoding": "gzip, deflate, br"}
    response = requests.get(url, headers=headers)
    
    if (response.status_code == 200):
        
        soup = BeautifulSoup(response.content, "html.parser")
        return soup
        
        
    else: 
        print(f"Error en la solicitud. Código de estado: {response.status_code}")

In [70]:
def sacar_url_mas_paginas (ciudad, zona, barrio): 
    
    '''    
    A través de la ciudad, la zona y el barrio obtenemos los datos de la pagina de idealista
    
    Revisar el formato que tenga el url en la web, por ej:
    
    url = "https://www.idealista.com/venta-viviendas/sevilla/centro/arenal-museo-tetuan/pagina-2.htm"
    
    '''
    
    url = f"https://www.idealista.com/venta-viviendas/{ciudad}/{zona}/{barrio}/pagina-2.htm"
    
    headers = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36",
    "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8",
    "accept-language": "en-US;en;q=0.9",
    "accept-encoding": "gzip, deflate, br"}
    response = requests.get(url, headers=headers)
    
    if (response.status_code == 200):
        
        soup = BeautifulSoup(response.content, "html.parser")
        return soup
        
        
    else: 
        print(f"Error en la solicitud. Código de estado: {response.status_code}")

In [71]:
def sacar_url_mas_paginas1 (ciudad, zona): 
    
    '''    
    A través de la ciudad, la zona y el barrio obtenemos los datos de la pagina de idealista
    
    Revisar el formato que tenga el url en la web, por ej:
    
    url = "https://www.idealista.com/venta-viviendas/sevilla/centro/arenal-museo-tetuan/pagina-2.htm"
    
    '''
    
    url = f"https://www.idealista.com/venta-viviendas/{ciudad}/{zona}/pagina-2.htm"
    
    headers = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36",
    "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8",
    "accept-language": "en-US;en;q=0.9",
    "accept-encoding": "gzip, deflate, br"}
    response = requests.get(url, headers=headers)
    
    if (response.status_code == 200):
        
        soup = BeautifulSoup(response.content, "html.parser")
        return soup
        
        
    else: 
        print(f"Error en la solicitud. Código de estado: {response.status_code}")

In [72]:
def informacion_viviendas(soup): 
    
    # Obtener el recuadro de las viviendas
    
    result = soup.find(class_='items-container items-list')
    anuncios =result.find_all(class_ = "item item_contains_branding item_hightop extended-item item-multimedia-container")
    
    # Lista con cada una de las viviendas
    anuncios_info = result.find_all(class_="item-info-container")
    
    return anuncios_info

In [73]:
def sacar_datos_vivienda(anuncios_info, ciudad, zona, barrio):
    
    lista_viv = []
    
    for anuncio in anuncios_info: 
        nombre = anuncio.find(class_='item-link')['title']
        precio = int(anuncio.find(class_='item-price h2-simulated').text.replace('€', '').replace('.', ''))
        numero_hab = anuncio.find(class_='item-detail-char').find_all(class_='item-detail')[0].text
        metros_cuadrados = anuncio.find(class_='item-detail-char').find_all(class_='item-detail')[1].text
        #descripcion = anuncio.find(class_='item-detail-char').find_all(class_='item-detail')[2].text
        
        lista_viv.append(
            {'Vivienda': nombre, 
            'Precio' : precio, 
            'Numero habitaciones' : numero_hab, 
            'Metros cuadrados': metros_cuadrados, 
            'Ciudad': ciudad, 
            'Zona': zona,
            'Barrio' : barrio 
            #'Descripcion': descripcion
        })
        
    
    df = pd.DataFrame(lista_viv)
        
    return df

In [74]:
def sacar_datos_vivienda1(anuncios_info, ciudad, zona):
    
    lista_viv = []
    
    for anuncio in anuncios_info: 
        nombre = anuncio.find(class_='item-link')['title']
        precio = int(anuncio.find(class_='item-price h2-simulated').text.replace('€', '').replace('.', ''))
        numero_hab = anuncio.find(class_='item-detail-char').find_all(class_='item-detail')[0].text
        metros_cuadrados = anuncio.find(class_='item-detail-char').find_all(class_='item-detail')[1].text
        #descripcion = anuncio.find(class_='item-detail-char').find_all(class_='item-detail')[2].text
        
        lista_viv.append(
            {'Vivienda': nombre, 
            'Precio' : precio, 
            'Numero habitaciones' : numero_hab, 
            'Metros cuadrados': metros_cuadrados, 
            'Ciudad': ciudad, 
            'Zona': zona,
            'Barrio' : zona 
            #'Descripcion': descripcion
        })
        
    
    df = pd.DataFrame(lista_viv)
        
    return df

In [75]:
def df_viviendas_zonas(ciudad,zona,barrio):
    
    # Saco la informacion a traves del url
    soup = sacar_url (ciudad, zona, barrio)
    
    #Saco informacion de las viviendas
    
    anuncios_info = informacion_viviendas(soup)
    
    # Creo el data frame 
    
    df = sacar_datos_vivienda(anuncios_info, ciudad, zona, barrio)
    
    try: 
            # Saco la informacion a traves del url
        soup = sacar_url_mas_paginas (ciudad, zona, barrio)
        
        #Saco informacion de las viviendas
        
        anuncios_info = informacion_viviendas(soup)
        
        # Creo el data frame 
        
        df_1 = sacar_datos_vivienda(anuncios_info, ciudad, zona,barrio)
        
        df_unido = pd.concat([df, df_1], ignore_index=True)
    
    except Exception as e:
        print(f"Advertencia: No se pudo obtener información de páginas adicionales. Error: {e}")
        # Si ocurre un error, se devuelve solo el primer DataFrame
        df_unido = df
        
        

        
    return df_unido

In [76]:
def df_viviendas_zonas1(ciudad,zona):
    
    # Saco la informacion a traves del url
    soup = sacar_url1(ciudad, zona)
    
    #Saco informacion de las viviendas
    
    anuncios_info = informacion_viviendas(soup)
    
    # Creo el data frame 
    
    df = sacar_datos_vivienda1(anuncios_info, ciudad, zona)
    
    try: 
            # Saco la informacion a traves del url
        soup = sacar_url_mas_paginas1(ciudad, zona)
        
        #Saco informacion de las viviendas
        
        anuncios_info = informacion_viviendas(soup)
        
        # Creo el data frame 
        
        df_1 = sacar_datos_vivienda1(anuncios_info, ciudad, zona)
        
        df_unido = pd.concat([df, df_1], ignore_index=True)
    
    except Exception as e:
        print(f"Advertencia: No se pudo obtener información de páginas adicionales. Error: {e}")
        # Si ocurre un error, se devuelve solo el primer DataFrame
        df_unido = df
        
        

        
    return df_unido

In [77]:
df_sevilla_arenal = df_viviendas_zonas('sevilla', 'centro','arenal-museo-tetuan')

In [78]:
df_sevilla_arenal

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio
0,"Piso en calle General Polavieja, Arenal - Muse...",539000,3 hab.,147 m²,sevilla,centro,arenal-museo-tetuan
1,"Piso en calle O'Donnell, 34, Arenal - Museo - ...",740000,3 hab.,156 m²,sevilla,centro,arenal-museo-tetuan
2,"Piso en calle San Pablo, Arenal - Museo - Tetu...",740000,3 hab.,128 m²,sevilla,centro,arenal-museo-tetuan
3,"Piso en calle San Pablo, Arenal - Museo - Tetu...",760000,3 hab.,148 m²,sevilla,centro,arenal-museo-tetuan
4,"Piso en calle Albareda, Arenal - Museo - Tetuá...",960000,4 hab.,176 m²,sevilla,centro,arenal-museo-tetuan
5,"Piso en calle Cristo del Calvario, Arenal - Mu...",910000,5 hab.,247 m²,sevilla,centro,arenal-museo-tetuan
6,"Piso en calle Méndez Núñez, Arenal - Museo - T...",670000,2 hab.,85 m²,sevilla,centro,arenal-museo-tetuan
7,"Dúplex en calle radio sevilla, Arenal - Museo ...",418000,3 hab.,109 m²,sevilla,centro,arenal-museo-tetuan
8,"Piso en calle Albareda, Arenal - Museo - Tetuá...",540000,3 hab.,125 m²,sevilla,centro,arenal-museo-tetuan
9,"Ático en Arenal - Museo - Tetuán, Sevilla",420000,2 hab.,79 m²,sevilla,centro,arenal-museo-tetuan
10,"Piso en Arenal - Museo - Tetuán, Sevilla",1250000,5 hab.,352 m²,sevilla,centro,arenal-museo-tetuan
11,"Piso en Arenal - Museo - Tetuán, Sevilla",609000,4 hab.,144 m²,sevilla,centro,arenal-museo-tetuan
12,"Piso en calle Pastor y Landero, Arenal - Museo...",1200000,5 hab.,219 m²,sevilla,centro,arenal-museo-tetuan
13,"Piso en calle Moratín, Arenal - Museo - Tetuán...",750000,4 hab.,176 m²,sevilla,centro,arenal-museo-tetuan
14,"Ático en Arenal - Museo - Tetuán, Sevilla",790000,3 hab.,125 m²,sevilla,centro,arenal-museo-tetuan
15,"Piso en Arenal - Museo - Tetuán, Sevilla",1250000,5 hab.,283 m²,sevilla,centro,arenal-museo-tetuan
16,"Piso en Alfonso XII, Arenal - Museo - Tetuán, ...",360000,1 hab.,85 m²,sevilla,centro,arenal-museo-tetuan
17,"Piso en calle Arjona, 5, Arenal - Museo - Tetu...",460000,5 hab.,154 m²,sevilla,centro,arenal-museo-tetuan
18,"Piso en calle Galera, 12, Arenal - Museo - Tet...",236000,1 hab.,40 m²,sevilla,centro,arenal-museo-tetuan
19,"Piso en Arenal - Museo - Tetuán, Sevilla",475000,3 hab.,122 m²,sevilla,centro,arenal-museo-tetuan
20,"Estudio en Arenal - Museo - Tetuán, Sevilla",185000,49 m²,Bajo exterior con ascensor,sevilla,centro,arenal-museo-tetuan
21,"Piso en calle Arjona, Arenal - Museo - Tetuán,...",520000,3 hab.,144 m²,sevilla,centro,arenal-museo-tetuan
22,Casa o chalet independiente en Arenal - Museo ...,890000,5 hab.,179 m²,sevilla,centro,arenal-museo-tetuan
23,"Piso en calle Gamazo, Arenal - Museo - Tetuán,...",390000,2 hab.,94 m²,sevilla,centro,arenal-museo-tetuan
24,"Piso en calle Arfe, Arenal - Museo - Tetuán, S...",260000,1 hab.,65 m²,sevilla,centro,arenal-museo-tetuan
25,"Piso en calle Sauceda, 7, Arenal - Museo - Tet...",298000,1 hab.,61 m²,sevilla,centro,arenal-museo-tetuan
26,"Piso en calle Zaragoza, 2, Arenal - Museo - Te...",850000,2 hab.,191 m²,sevilla,centro,arenal-museo-tetuan
27,Casa o chalet independiente en Arenal - Museo ...,832000,10 hab.,325 m²,sevilla,centro,arenal-museo-tetuan
28,Casa o chalet independiente en Arenal - Museo ...,2500000,5 hab.,626 m²,sevilla,centro,arenal-museo-tetuan
29,"Dúplex en calle Malhara, Arenal - Museo - Tetu...",260000,2 hab.,51 m²,sevilla,centro,arenal-museo-tetuan
30,"Piso en calle Almirantazgo, 11, Arenal - Museo...",500000,2 hab.,80 m²,sevilla,centro,arenal-museo-tetuan
31,"Piso en calle Julio César, Arenal - Museo - Te...",1250000,5 hab.,267 m²,sevilla,centro,arenal-museo-tetuan
32,"Dúplex en calle Malhara, Arenal - Museo - Tetu...",260000,2 hab.,51 m²,sevilla,centro,arenal-museo-tetuan
33,"Piso en calle Arjona, Arenal - Museo - Tetuán,...",299000,4 hab.,106 m²,sevilla,centro,arenal-museo-tetuan
34,"Piso en Arenal - Museo - Tetuán, Sevilla",1250000,5 hab.,283 m²,sevilla,centro,arenal-museo-tetuan
35,"Piso en calle Bailén, 34, Arenal - Museo - Tet...",625000,4 hab.,128 m²,sevilla,centro,arenal-museo-tetuan
36,"Chalet adosado en calle San Pedro Mártir, Aren...",799000,9 hab.,300 m²,sevilla,centro,arenal-museo-tetuan
37,"Chalet adosado en calle Harinas, Arenal - Muse...",475000,9 hab.,160 m²,sevilla,centro,arenal-museo-tetuan
38,"Ático en Arenal - Museo - Tetuán, Sevilla",825000,3 hab.,141 m²,sevilla,centro,arenal-museo-tetuan
39,"Piso en calle San Eloy, Arenal - Museo - Tetuá...",225000,1 hab.,80 m²,sevilla,centro,arenal-museo-tetuan
40,"Piso en calle San Pablo, Arenal - Museo - Tetu...",695000,3 hab.,170 m²,sevilla,centro,arenal-museo-tetuan
41,"Chalet pareado en Arenal - Museo - Tetuán, Sev...",1750000,9 hab.,540 m²,sevilla,centro,arenal-museo-tetuan
42,"Piso en Arenal - Museo - Tetuán, Sevilla",460000,5 hab.,148 m²,sevilla,centro,arenal-museo-tetuan
43,"Piso en calle Arjona, 10, Arenal - Museo - Tet...",350000,3 hab.,92 m²,sevilla,centro,arenal-museo-tetuan
44,"Piso en calle Fernández y González, 10, Arenal...",290000,1 hab.,55 m²,sevilla,centro,arenal-museo-tetuan
45,"Piso en Arenal - Museo - Tetuán, Sevilla",234000,2 hab.,42 m²,sevilla,centro,arenal-museo-tetuan
46,"Piso en calle San Pablo, Arenal - Museo - Tetu...",425000,2 hab.,113 m²,sevilla,centro,arenal-museo-tetuan
47,"Piso en Arenal - Museo - Tetuán, Sevilla",530000,3 hab.,109 m²,sevilla,centro,arenal-museo-tetuan
48,Casa o chalet independiente en Arenal - Museo ...,800000,8 hab.,249 m²,sevilla,centro,arenal-museo-tetuan
49,"Piso en calle Arjona, Arenal - Museo - Tetuán,...",460000,5 hab.,154 m²,sevilla,centro,arenal-museo-tetuan
50,"Piso en calle Arjona, Arenal - Museo - Tetuán,...",460000,5 hab.,139 m²,sevilla,centro,arenal-museo-tetuan
51,Casa o chalet independiente en Arenal - Museo ...,735000,4 hab.,260 m²,sevilla,centro,arenal-museo-tetuan
52,"Piso en Arenal - Museo - Tetuán, Sevilla",315000,2 hab.,82 m²,sevilla,centro,arenal-museo-tetuan
53,"Piso en Centro, s/n, Arenal - Museo - Tetuán, ...",259000,2 hab.,80 m²,sevilla,centro,arenal-museo-tetuan
54,"Piso en calle Arjona, Arenal - Museo - Tetuán,...",480000,4 hab.,122 m²,sevilla,centro,arenal-museo-tetuan
55,"Piso en calle Arjona, Arenal - Museo - Tetuán,...",389000,4 hab.,133 m²,sevilla,centro,arenal-museo-tetuan
56,"Dúplex en calle Zaragoza, Arenal - Museo - Tet...",825000,3 hab.,185 m²,sevilla,centro,arenal-museo-tetuan
57,"Piso en bailen, 35, Arenal - Museo - Tetuán, S...",740000,4 hab.,183 m²,sevilla,centro,arenal-museo-tetuan
58,"Piso en Arenal - Museo - Tetuán, Sevilla",1785000,3 hab.,267 m²,sevilla,centro,arenal-museo-tetuan
59,"Piso en calle Arjona, Arenal - Museo - Tetuán,...",460000,5 hab.,154 m²,sevilla,centro,arenal-museo-tetuan

In [79]:
def por_barrios (ciudad, zona, barrios): 
    
    lista_df = []
    
    for barrio in barrios: 
        print(f"Extrayendo informacion del barrio: {barrio}")
        
        df_barrio = df_viviendas_zonas(ciudad,zona,barrio)
        
        lista_df.append(df_barrio)
    
    df_final = pd.concat(lista_df, ignore_index=True)
    
    return df_final

In [80]:
barrios = ['arenal-museo-tetuan', 'alameda']

In [81]:
por_barrios('sevilla', 'centro', barrios)

Extrayendo informacion del barrio: arenal-museo-tetuan
Extrayendo informacion del barrio: alameda

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio
0,"Piso en calle General Polavieja, Arenal - Muse...",539000,3 hab.,147 m²,sevilla,centro,arenal-museo-tetuan
1,"Piso en calle O'Donnell, 34, Arenal - Museo - ...",740000,3 hab.,156 m²,sevilla,centro,arenal-museo-tetuan
2,"Piso en calle San Pablo, Arenal - Museo - Tetu...",740000,3 hab.,128 m²,sevilla,centro,arenal-museo-tetuan
3,"Piso en calle San Pablo, Arenal - Museo - Tetu...",760000,3 hab.,148 m²,sevilla,centro,arenal-museo-tetuan
4,"Piso en calle Albareda, Arenal - Museo - Tetuá...",960000,4 hab.,176 m²,sevilla,centro,arenal-museo-tetuan
...,...,...,...,...,...,...,...
110,"Piso en calle Resolana, 37, Alameda, Sevilla",320000,3 hab.,97 m²,sevilla,centro,alameda
111,"Piso en calle Morgado, 12, Alameda, Sevilla",220000,1 hab.,50 m²,sevilla,centro,alameda
112,"Piso en calle Conde de Barajas, 14, Alameda, S...",439000,3 hab.,160 m²,sevilla,centro,alameda
113,"Piso en calle Mata, Alameda, Sevilla",400000,2 hab.,123 m²,sevilla,centro,alameda
114,"Piso en calle Pacheco y Núñez de Prado, 44, Al...",325000,2 hab.,98 m²,sevilla,centro,alameda

In [82]:
h = {'hola':'carlota', 1:34}

In [83]:
h.keys()

dict_keys(['hola', 1])

In [84]:
def por_zonas_barrios (ciudad, zonas_barrios):
    
    lista_df = []
    
    for zona, barrios in zonas_barrios.items():
        print(f"Extrayendo informacion de la zona: {zona}")
        
        df_zona = por_barrios (ciudad, zona, barrios)
        
        lista_df.append(df_zona)
    
    df_final = pd.concat(lista_df, ignore_index=True)
    
    return df_final

In [85]:
def por_zonas (ciudad, zonas):
    
    lista_df = []
    
    for zona in zonas:
        print(f"Extrayendo informacion de la zona: {zona}")
        
        df_zona = df_viviendas_zonas1(ciudad, zona)
        
        lista_df.append(df_zona)
    
    df_final = pd.concat(lista_df, ignore_index=True)
    
    return df_final

In [86]:
zonas_barrios = {'centro': ['arenal-museo-tetuan', 'alameda'], 
                 'triana': ['calle-betis-pages-del-corro']}

In [87]:
por_zonas_barrios('sevilla', zonas_barrios)

Extrayendo informacion de la zona: centro
Extrayendo informacion del barrio: arenal-museo-tetuan
Extrayendo informacion del barrio: alameda
Extrayendo informacion de la zona: triana
Extrayendo informacion del barrio: calle-betis-pages-del-corro

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio
0,"Piso en calle General Polavieja, Arenal - Muse...",539000,3 hab.,147 m²,sevilla,centro,arenal-museo-tetuan
1,"Piso en calle O'Donnell, 34, Arenal - Museo - ...",740000,3 hab.,156 m²,sevilla,centro,arenal-museo-tetuan
2,"Piso en calle San Pablo, Arenal - Museo - Tetu...",740000,3 hab.,128 m²,sevilla,centro,arenal-museo-tetuan
3,"Piso en calle San Pablo, Arenal - Museo - Tetu...",760000,3 hab.,148 m²,sevilla,centro,arenal-museo-tetuan
4,"Piso en calle Albareda, Arenal - Museo - Tetuá...",960000,4 hab.,176 m²,sevilla,centro,arenal-museo-tetuan
...,...,...,...,...,...,...,...
170,"Piso en calle Pagés del Corro, 166, Calle Beti...",380000,3 hab.,95 m²,sevilla,triana,calle-betis-pages-del-corro
171,"Dúplex en Calle Betis - Pagés del Corro, Sevilla",1200000,4 hab.,202 m²,sevilla,triana,calle-betis-pages-del-corro
172,"Piso en calle San Jorge, 7, Calle Betis - Pagé...",700000,5 hab.,162 m²,sevilla,triana,calle-betis-pages-del-corro
173,"Piso en calle Fabié, Calle Betis - Pagés del C...",265000,4 hab.,110 m²,sevilla,triana,calle-betis-pages-del-corro
174,"Piso en Calle Betis - Pagés del Corro, Sevilla",238500,1 hab.,58 m²,sevilla,triana,calle-betis-pages-del-corro

In [88]:
def por_ciudades(ciudades_zonas): 
    
    lista_df_total = []
    
    for ciudad, zonas_barrios in ciudades_zonas.items():
        
        if (ciudad in ['valladolid', 'vigo', 'vitoria-gasteiz', 'a-coruna', 'granada' ]): 
            
            print(f"Extrayendo informacion de la ciudad: {ciudad}")
            
            df_ciudad = por_zonas(ciudad, zonas_barrios)
            
            lista_df_total.append(df_ciudad)
            
            
            
        else:
        
            print(f"Extrayendo informacion de la ciudad: {ciudad}")
            
            df_ciudad = por_zonas_barrios(ciudad, zonas_barrios)
            
            lista_df_total.append(df_ciudad)
        
    df_final = pd.concat(lista_df_total, ignore_index=True)
    
    return df_final

In [89]:
ciudades_zonas = {'sevilla': {
    'centro': ['arenal-museo-tetuan', 'alameda'], 
                 'triana': ['calle-betis-pages-del-corro']}, 
    'madrid':{
        'centro': ['palacio', 'sol'],
        'barrio-de-salamanca': ['goya']}
}

In [90]:
df_madrid_sevilla = por_ciudades(ciudades_zonas)

Extrayendo informacion de la ciudad: sevilla
Extrayendo informacion de la zona: centro
Extrayendo informacion del barrio: arenal-museo-tetuan
Extrayendo informacion del barrio: alameda
Extrayendo informacion de la zona: triana
Extrayendo informacion del barrio: calle-betis-pages-del-corro
Extrayendo informacion de la ciudad: madrid
Extrayendo informacion de la zona: centro
Extrayendo informacion del barrio: palacio
Extrayendo informacion del barrio: sol
Extrayendo informacion de la zona: barrio-de-salamanca
Extrayendo informacion del barrio: goya

In [91]:
df_madrid_sevilla

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio
0,"Piso en calle General Polavieja, Arenal - Muse...",539000,3 hab.,147 m²,sevilla,centro,arenal-museo-tetuan
1,"Piso en calle O'Donnell, 34, Arenal - Museo - ...",740000,3 hab.,156 m²,sevilla,centro,arenal-museo-tetuan
2,"Piso en calle San Pablo, Arenal - Museo - Tetu...",740000,3 hab.,128 m²,sevilla,centro,arenal-museo-tetuan
3,"Piso en calle San Pablo, Arenal - Museo - Tetu...",760000,3 hab.,148 m²,sevilla,centro,arenal-museo-tetuan
4,"Piso en calle Albareda, Arenal - Museo - Tetuá...",960000,4 hab.,176 m²,sevilla,centro,arenal-museo-tetuan
...,...,...,...,...,...,...,...
350,"Piso en calle de Goya, Goya, Madrid",3600000,5 hab.,379 m²,madrid,barrio-de-salamanca,goya
351,"Piso en calle del Duque de Sesto, Goya, Madrid",1290000,2 hab.,129 m²,madrid,barrio-de-salamanca,goya
352,"Piso en calle de la Povedilla, 4, Goya, Madrid",889000,3 hab.,94 m²,madrid,barrio-de-salamanca,goya
353,"Piso en calle de Alcalá, Goya, Madrid",2200000,4 hab.,275 m²,madrid,barrio-de-salamanca,goya
354,"Piso en calle de Goya, Goya, Madrid",695000,3 hab.,120 m²,madrid,barrio-de-salamanca,goya

In [92]:
df_madrid_sevilla['Numero habitaciones'].value_counts()

Numero habitaciones
3 hab.     103
2 hab.     102
1 hab.      51
4 hab.      43
5 hab.      34
8 hab.       4
6 hab.       4
9 hab.       3
72 m²        1
61 m²        1
20 m²        1
32 m²        1
53 m²        1
70 m²        1
12 hab.      1
14 hab.      1
10 hab.      1
49 m²        1
54 m²        1
Name: count, dtype: int64

## 20 municipios mas poblados con el barrio mas poblado y sus 5 primeras zonas

In [93]:
municipios_top_20 = ["Madrid", "Barcelona", "Valencia", "Sevilla", "Zaragoza", "Málaga", "Murcia", "Palma", "Las Palmas de Gran Canaria", "Alacant/Alicante","Bilbao", "Córdoba", "Valladolid", "Vigo","L´Hospitalet de Llobregat","Gijón", "Vitoria-Gasteiz", "A Coruña", "Elche/Elx", "Granada"]

In [101]:
barrios_poblados = {
    "madrid": {"carabanchel": ['san-isidro', 'puerta-bonita', 'vista-alegre','buena-vista']},
    "barcelona": {"eixample":['la-dreta-de-l-eixample','l-antiga-esquerra-de-l-eixample', 'la-nova-esquerra-de-l-eixample', 'la-sagrada-familia','sant-antoni']},
    "valencia": {'quatre-carreres': ['mont-olivet','malilla','en-corts', 'ciutat-de-les-arts-i-de-les-ciencies', 'la-punta']},
    "sevilla": {'sevilla-este': ['avenida-de-las-ciencias','alcalde-l-urunuela-palacio-de-congresos',  'emilio-lemos'], 
                'parque-alcosa': ['parque-alcosa'], 
                'torreblanca': ['torreblanca']},
    "zaragoza": {'delicias': ['barrio-del-ave','ciudad-jardin-parque-roma', 'mercado-san-valero', 'delicias', 'parque-delicias-la-bozada']},
    "malaga":{'centro': ['la-trinidad', 'centro-historico', 'perchel-sur-el-bulto', 'el-ejido']},
    "murcia": {'sur': ['el-carmen', 'la-purisima-barriomar']},
    "palma": {'las-avenidas': ['pere-garau']},
    "las-palmas-de-gran-canaria": {'vegueta-triana': ['triana', 'vegueta']},
    "alicante-alacant": {'playa-de-san-juan-el-cabo': ['cabo-de-las-huertas','playa-de-san-juan', 'pau-5', 'la-albufereta' ]},
    "bilbao": {'begona-santutxu': ['santutxu-basarrate', 'bolueta', 'begona']},
    "cordoba": {'levante-lepanto-fatima': ['fatima-campinuela','levante','la-vinuela', 'alcolea' ]},
    "valladolid": ['parquesol'],
    "vigo": ['navia'],
    "hospitalet-de-llobregat": {'santa-eulalia': ['santa-eulalia']},
    "gijon": {'el-llano': ['el-llano', 'el-llano-pryca','el-llano-alto']},
    "vitoria-gasteiz": ['zabalgana-ariznabarra'],
    "a-coruna": ['agra-del-orzan-ventorrillo'],
    "elche-elx": {'elche-ciudad': ['carrus-este']},
    "granada": ['zaidin']
}

In [95]:
barrios_poblados_top = {
    "madrid": {"carabanchel": ['san-isidro', 'puerta-bonita', 'vista-alegre','buena-vista']},
    "barcelona": {"eixample":['la-dreta-de-l-eixample','l-antiga-esquerra-de-l-eixample', 'la-nova-esquerra-de-l-eixample', 'la-sagrada-familia','sant-antoni']},
    "valencia": {'quatre-carreres': ['mont-olivet','malilla','en-corts', 'ciutat-de-les-arts-i-de-les-ciencies', 'la-punta']},
    "sevilla": {'sevilla-este': ['avenida-de-las-ciencias','alcalde-l-urunuela-palacio-de-congresos',  'emilio-lemos'], 
                'parque-alcosa': ['parque-alcosa'], 
                'torreblanca': ['torreblanca']},
    "zaragoza": {'delicias': ['barrio-del-ave','ciudad-jardin-parque-roma', 'mercado-san-valero', 'delicias', 'parque-delicias-la-bozada']},
    "malaga":{'centro': ['la-trinidad', 'centro-historico', 'perchel-sur-el-bulto', 'el-ejido']},
    "murcia": {'sur': ['el-carmen', 'la-purisima-barriomar']},
    "palma-de-mallorca": {'las-avenidas': ['pere-garau']},
    "las-palmas-de-gran-canaria": {'vegueta-triana': ['triana', 'vegueta']},
    "alicante-alacant": {'playa-de-san-juan-el-cabo': ['cabo-de-las-huertas','playa-de-san-juan', 'pau-5', 'la-albufereta' ]},
    "bilbao": {'begona-santutxu': ['santutxu-basarrate', 'bolueta', 'begona']},
    "cordoba": {'levante-lepanto-fatima': ['fatima-campinuela','levante','la-vinuela', 'alcolea' ]},
    "hospitalet-de-llobregat": {'santa-eulalia': ['santa-eulalia']},
    "gijon": {'el-llano': ['el-llano', 'el-llano-pryca','el-llano-alto']},
    
    
    "elche-elx": {'elche-ciudad': ['carrus-este']}
}

In [102]:
df_ciudades = por_ciudades(barrios_poblados)

Extrayendo informacion de la ciudad: madrid
Extrayendo informacion de la zona: carabanchel
Extrayendo informacion del barrio: san-isidro
Extrayendo informacion del barrio: puerta-bonita
Extrayendo informacion del barrio: vista-alegre
Extrayendo informacion del barrio: buena-vista
Extrayendo informacion de la ciudad: barcelona
Extrayendo informacion de la zona: eixample
Extrayendo informacion del barrio: la-dreta-de-l-eixample
Extrayendo informacion del barrio: l-antiga-esquerra-de-l-eixample
Extrayendo informacion del barrio: la-nova-esquerra-de-l-eixample
Extrayendo informacion del barrio: la-sagrada-familia
Extrayendo informacion del barrio: sant-antoni
Extrayendo informacion de la ciudad: valencia
Extrayendo informacion de la zona: quatre-carreres
Extrayendo informacion del barrio: mont-olivet
Extrayendo informacion del barrio: malilla
Extrayendo informacion del barrio: en-corts
Extrayendo informacion del barrio: ciutat-de-les-arts-i-de-les-ciencies
Extrayendo informacion del barrio: la-punta
Extrayendo informacion de la ciudad: sevilla
Extrayendo informacion de la zona: sevilla-este
Extrayendo informacion del barrio: avenida-de-las-ciencias
Extrayendo informacion del barrio: alcalde-l-urunuela-palacio-de-congresos
Extrayendo informacion del barrio: emilio-lemos
Extrayendo informacion de la zona: parque-alcosa
Extrayendo informacion del barrio: parque-alcosa
Extrayendo informacion de la zona: torreblanca
Extrayendo informacion del barrio: torreblanca
Extrayendo informacion de la ciudad: zaragoza
Extrayendo informacion de la zona: delicias
Extrayendo informacion del barrio: barrio-del-ave
Extrayendo informacion del barrio: ciudad-jardin-parque-roma
Extrayendo informacion del barrio: mercado-san-valero
Extrayendo informacion del barrio: delicias
Extrayendo informacion del barrio: parque-delicias-la-bozada
Extrayendo informacion de la ciudad: malaga
Extrayendo informacion de la zona: centro
Extrayendo informacion del barrio: la-trinidad
Extrayendo informacion del barrio: centro-historico
Extrayendo informacion del barrio: perchel-sur-el-bulto
Extrayendo informacion del barrio: el-ejido
Extrayendo informacion de la ciudad: murcia
Extrayendo informacion de la zona: sur
Extrayendo informacion del barrio: el-carmen
Extrayendo informacion del barrio: la-purisima-barriomar
Extrayendo informacion de la ciudad: palma
Extrayendo informacion de la zona: las-avenidas
Extrayendo informacion del barrio: pere-garau
Error en la solicitud. Código de estado: 404

AttributeError: 'NoneType' object has no attribute 'find'

In [103]:
df_top_ciudades = por_ciudades(barrios_poblados_top)

Extrayendo informacion de la ciudad: madrid
Extrayendo informacion de la zona: carabanchel
Extrayendo informacion del barrio: san-isidro
Extrayendo informacion del barrio: puerta-bonita
Extrayendo informacion del barrio: vista-alegre
Extrayendo informacion del barrio: buena-vista
Extrayendo informacion de la ciudad: barcelona
Extrayendo informacion de la zona: eixample
Extrayendo informacion del barrio: la-dreta-de-l-eixample
Extrayendo informacion del barrio: l-antiga-esquerra-de-l-eixample
Extrayendo informacion del barrio: la-nova-esquerra-de-l-eixample
Extrayendo informacion del barrio: la-sagrada-familia
Extrayendo informacion del barrio: sant-antoni
Extrayendo informacion de la ciudad: valencia
Extrayendo informacion de la zona: quatre-carreres
Extrayendo informacion del barrio: mont-olivet
Extrayendo informacion del barrio: malilla
Extrayendo informacion del barrio: en-corts
Extrayendo informacion del barrio: ciutat-de-les-arts-i-de-les-ciencies
Extrayendo informacion del barrio: la-punta
Extrayendo informacion de la ciudad: sevilla
Extrayendo informacion de la zona: sevilla-este
Extrayendo informacion del barrio: avenida-de-las-ciencias
Extrayendo informacion del barrio: alcalde-l-urunuela-palacio-de-congresos
Extrayendo informacion del barrio: emilio-lemos
Extrayendo informacion de la zona: parque-alcosa
Extrayendo informacion del barrio: parque-alcosa
Extrayendo informacion de la zona: torreblanca
Extrayendo informacion del barrio: torreblanca
Extrayendo informacion de la ciudad: zaragoza
Extrayendo informacion de la zona: delicias
Extrayendo informacion del barrio: barrio-del-ave
Extrayendo informacion del barrio: ciudad-jardin-parque-roma
Extrayendo informacion del barrio: mercado-san-valero
Extrayendo informacion del barrio: delicias
Extrayendo informacion del barrio: parque-delicias-la-bozada
Extrayendo informacion de la ciudad: malaga
Extrayendo informacion de la zona: centro
Extrayendo informacion del barrio: la-trinidad
Extrayendo informacion del barrio: centro-historico
Extrayendo informacion del barrio: perchel-sur-el-bulto
Extrayendo informacion del barrio: el-ejido
Extrayendo informacion de la ciudad: murcia
Extrayendo informacion de la zona: sur
Extrayendo informacion del barrio: el-carmen
Extrayendo informacion del barrio: la-purisima-barriomar
Extrayendo informacion de la ciudad: palma-de-mallorca
Extrayendo informacion de la zona: las-avenidas
Extrayendo informacion del barrio: pere-garau
Extrayendo informacion de la ciudad: las-palmas-de-gran-canaria
Extrayendo informacion de la zona: vegueta-triana
Extrayendo informacion del barrio: triana
Extrayendo informacion del barrio: vegueta
Extrayendo informacion de la ciudad: alicante-alacant
Extrayendo informacion de la zona: playa-de-san-juan-el-cabo
Extrayendo informacion del barrio: cabo-de-las-huertas
Extrayendo informacion del barrio: playa-de-san-juan
Extrayendo informacion del barrio: pau-5
Extrayendo informacion del barrio: la-albufereta
Extrayendo informacion de la ciudad: bilbao
Extrayendo informacion de la zona: begona-santutxu
Extrayendo informacion del barrio: santutxu-basarrate
Extrayendo informacion del barrio: bolueta
Extrayendo informacion del barrio: begona
Extrayendo informacion de la ciudad: cordoba
Extrayendo informacion de la zona: levante-lepanto-fatima
Extrayendo informacion del barrio: fatima-campinuela
Extrayendo informacion del barrio: levante
Extrayendo informacion del barrio: la-vinuela
Extrayendo informacion del barrio: alcolea
Extrayendo informacion de la ciudad: hospitalet-de-llobregat
Extrayendo informacion de la zona: santa-eulalia
Extrayendo informacion del barrio: santa-eulalia
Extrayendo informacion de la ciudad: gijon
Extrayendo informacion de la zona: el-llano
Extrayendo informacion del barrio: el-llano
Extrayendo informacion del barrio: el-llano-pryca
Extrayendo informacion del barrio: el-llano-alto
Extrayendo informacion de la ciudad: elche-elx
Extrayendo informacion de la zona: elche-ciudad
Extrayendo informacion del barrio: carrus-este

In [104]:
df_top_ciudades

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio
0,"Piso en San Isidro, Madrid",245000,2 hab.,65 m²,madrid,carabanchel,san-isidro
1,"Piso en calle de Pablo Montesinos, San Isidro,...",240000,3 hab.,79 m²,madrid,carabanchel,san-isidro
2,"Piso en calle Soldado José María Rey, San Isid...",199000,1 hab.,88 m²,madrid,carabanchel,san-isidro
3,"Piso en calle Alcaudón, San Isidro, Madrid",237000,3 hab.,67 m²,madrid,carabanchel,san-isidro
4,"Piso en San Isidro, Madrid",250000,2 hab.,73 m²,madrid,carabanchel,san-isidro
...,...,...,...,...,...,...,...
2823,"Piso en Carrús Este, Elche / Elx",110000,3 hab.,74 m²,elche-elx,elche-ciudad,carrus-este
2824,"Piso en calle Germans Navarro Caracena, s/n, C...",47400,3 hab.,75 m²,elche-elx,elche-ciudad,carrus-este
2825,"Piso en Carrús Este, Elche / Elx",76000,4 hab.,126 m²,elche-elx,elche-ciudad,carrus-este
2826,"Piso en Carrús Este, Elche / Elx",130000,4 hab.,130 m²,elche-elx,elche-ciudad,carrus-este
2827,"Piso en Carrús Este, Elche / Elx",62000,3 hab.,85 m²,elche-elx,elche-ciudad,carrus-este

## Guardar el dataframe en un archivo `csv`

In [105]:
df_top_ciudades.to_csv('viviendas_idealista.csv', sep=';', index=False)