In [688]:

import pandas as pd
import cleaning_functions as f
import os

# 1. Carga de datos **vivienda**

In [689]:
df_ciudades = pd.read_csv('../files/viviendas_idealista.csv', sep = ";")

In [690]:
df_ciudades['Regimen'] = 'Compra'

In [691]:
df_ciudades

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen
0,"Piso en San Isidro, Madrid",245000,2 hab.,65 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
1,"Piso en calle de Pablo Montesinos, San Isidro,...",240000,3 hab.,79 m²,madrid,carabanchel,san-isidro,No,Bajo exterior con ascensor,Compra
2,"Piso en calle Soldado José María Rey, San Isid...",199000,1 hab.,88 m²,madrid,carabanchel,san-isidro,No,Planta 2ª exterior con ascensor,Compra
3,"Piso en calle Alcaudón, San Isidro, Madrid",237000,3 hab.,67 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
4,"Piso en San Isidro, Madrid",250000,2 hab.,73 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior sin ascensor,Compra
...,...,...,...,...,...,...,...,...,...,...
5561,"Piso en avenida de América, 29, Zaidín, Granada",149900,3 hab.,65 m²,granada,zaidin,zaidin,No,Planta 5ª exterior con ascensor,Compra
5562,"Piso en avenida de América, Zaidín, Granada",149900,3 hab.,65 m²,granada,zaidin,zaidin,No,Planta 5ª exterior con ascensor,Compra
5563,"Dúplex en avenida Salvador Allende, Zaidín, Gr...",210000,2 hab.,76 m²,granada,zaidin,zaidin,No,Planta 5ª exterior con ascensor,Compra
5564,"Piso en avenida de América, Zaidín, Granada",149900,3 hab.,65 m²,granada,zaidin,zaidin,No,Planta 5ª exterior con ascensor,Compra
5565,"Piso en avenida de América, Zaidín, Granada",149900,3 hab.,65 m²,granada,zaidin,zaidin,No,Planta 5ª exterior con ascensor,Compra

In [692]:
df_alquiler = pd.read_csv('../files/viviendas_idealista_alquiler.csv', sep =";")

In [693]:
df_alquiler1 = pd.read_csv('../files/viviendas_idealista_alquiler1.csv', sep =";")

In [694]:
df_alquiler2 = pd.read_csv('../files/viviendas_idealista_alquiler2.csv', sep =";")

In [695]:
df_alquiler3 = pd.read_csv('../files/viviendas_idealista_alquiler3.csv', sep =";")

In [696]:
df_alquiler4 = pd.read_csv('../files/viviendas_idealista_alquiler4.csv', sep =";")

In [697]:
df_alquiler5 = pd.read_csv('../files/viviendas_idealista_alquiler5.csv', sep =";")

In [698]:
df_ciudades1 = pd.concat([df_ciudades, df_alquiler, df_alquiler1, df_alquiler2, df_alquiler3, df_alquiler4, df_alquiler5])

In [699]:
df_ciudades1

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen
0,"Piso en San Isidro, Madrid",245000,2 hab.,65 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
1,"Piso en calle de Pablo Montesinos, San Isidro,...",240000,3 hab.,79 m²,madrid,carabanchel,san-isidro,No,Bajo exterior con ascensor,Compra
2,"Piso en calle Soldado José María Rey, San Isid...",199000,1 hab.,88 m²,madrid,carabanchel,san-isidro,No,Planta 2ª exterior con ascensor,Compra
3,"Piso en calle Alcaudón, San Isidro, Madrid",237000,3 hab.,67 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
4,"Piso en San Isidro, Madrid",250000,2 hab.,73 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior sin ascensor,Compra
...,...,...,...,...,...,...,...,...,...,...
1662,"Piso en Laos, 5, Emilio Lemos, Sevilla",980,3 hab.,98 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler
1663,"Piso en Laos, 5, Emilio Lemos, Sevilla",905,2 hab.,80 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler
1664,"Piso en Laos, 5, Emilio Lemos, Sevilla",990,3 hab.,100 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler
1665,"Piso en Laos, 5, Emilio Lemos, Sevilla",855,2 hab.,80 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler
1666,"Piso en calle Pakistán, 5, Emilio Lemos, Sevilla",750,2 hab.,85 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo interior con ascensor,Alquiler

In [700]:
df_ciudades1

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen
0,"Piso en San Isidro, Madrid",245000,2 hab.,65 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
1,"Piso en calle de Pablo Montesinos, San Isidro,...",240000,3 hab.,79 m²,madrid,carabanchel,san-isidro,No,Bajo exterior con ascensor,Compra
2,"Piso en calle Soldado José María Rey, San Isid...",199000,1 hab.,88 m²,madrid,carabanchel,san-isidro,No,Planta 2ª exterior con ascensor,Compra
3,"Piso en calle Alcaudón, San Isidro, Madrid",237000,3 hab.,67 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
4,"Piso en San Isidro, Madrid",250000,2 hab.,73 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior sin ascensor,Compra
...,...,...,...,...,...,...,...,...,...,...
1662,"Piso en Laos, 5, Emilio Lemos, Sevilla",980,3 hab.,98 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler
1663,"Piso en Laos, 5, Emilio Lemos, Sevilla",905,2 hab.,80 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler
1664,"Piso en Laos, 5, Emilio Lemos, Sevilla",990,3 hab.,100 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler
1665,"Piso en Laos, 5, Emilio Lemos, Sevilla",855,2 hab.,80 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler
1666,"Piso en calle Pakistán, 5, Emilio Lemos, Sevilla",750,2 hab.,85 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo interior con ascensor,Alquiler

In [701]:
df_ciudades1['Garaje'].value_counts()

Garaje
No                       6324
Garaje incluido          2669
Garaje opc. 100 €/mes      69
Garaje opc. 20.000 €       39
Garaje opc. 30.000 €       29
                         ...
Garaje opc. 17.000 €        1
Garaje opc. 15 €            1
Garaje opc. 12.000 €        1
Garaje opc. 26.000 €        1
Garaje opc. 450 €/mes       1
Name: count, Length: 66, dtype: int64

## Limpiar las columnas `Ciudad`, `Zona` y `Barrio`

In [702]:
df_ciudades1 = f.limpiar_localizaciones(df_ciudades1)

In [703]:
df_ciudades1.columns

Index(['Vivienda', 'Precio', 'Numero habitaciones', 'Metros cuadrados',
       'Ciudad', 'Zona', 'Barrio', 'Garaje', 'Descripcion', 'Regimen'],
      dtype='object')

In [704]:
df_ciudades1 = f.cambiar_nombre_columnas(df_ciudades1)

In [705]:
df_ciudades1.columns

Index(['Vivienda', 'Precio (€)', 'Numero habitaciones',
       'Metros cuadrados (m²)', 'Ciudad', 'Zona', 'Barrio', 'Garaje',
       'Descripcion', 'Regimen'],
      dtype='object')

In [706]:
df_ciudades1['Numero habitaciones'].unique()

array(['2 hab.', '3 hab.', '1 hab.', '4 hab.', 'no definido', '6 hab.',
       '5 hab.', '7 hab.', '8 hab.', '9 hab.', '10 hab.', '11 hab.',
       '12 hab.', '24 hab.', '21 hab.', '14 hab.', '18 hab.', '16 hab.',
       '20 hab.', '40 hab.', '13 hab.'], dtype=object)

In [707]:
df_ciudades1['Numero habitaciones'].value_counts()

Numero habitaciones
3 hab.         3628
2 hab.         2710
4 hab.         1210
1 hab.         1136
no definido     261
5 hab.          260
6 hab.           89
9 hab.           41
7 hab.           29
8 hab.           19
10 hab.          10
14 hab.           7
12 hab.           5
20 hab.           5
13 hab.           4
16 hab.           3
11 hab.           2
18 hab.           2
24 hab.           1
21 hab.           1
40 hab.           1
Name: count, dtype: int64

In [708]:
df_ciudades1[df_ciudades1['Numero habitaciones']=='no definido']

,Vivienda,Precio (€),Numero habitaciones,Metros cuadrados (m²),Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen
34,Estudio en calle Nuestra Señora de la Esperanz...,163000,no definido,47 m²,Madrid,Carabanchel,San Isidro,No,Planta 2ª exterior con ascensor,Compra
156,"Ático en Dátil, 21, Puerta Bonita, Madrid",237896,no definido,45 m²,Madrid,Carabanchel,Puerta Bonita,No,Planta 4ª exterior con ascensor,Compra
158,"Ático en Dátil, 21, Puerta Bonita, Madrid",241532,no definido,46 m²,Madrid,Carabanchel,Puerta Bonita,No,Planta 4ª exterior con ascensor,Compra
195,"Estudio en calle de Pedro Domingo, Puerta Boni...",107000,no definido,34 m²,Madrid,Carabanchel,Puerta Bonita,No,Bajo interior sin ascensor,Compra
201,"Estudio en paseo Castellanos, Puerta Bonita, M...",144000,no definido,73 m²,Madrid,Carabanchel,Puerta Bonita,No,Planta 5ª,Compra
...,...,...,...,...,...,...,...,...,...,...
1624,"Estudio en avenida Alcalde Luis Uruñuela, Alca...",550,no definido,40 m²,Sevilla,Sevilla Este,Alcalde L Urunuela Palacio De Congresos,Garaje incluido,Planta 4ª exterior con ascensor,Alquiler
1627,"Estudio en avenida Alcalde Luis Uruñuela, Alca...",600,no definido,40 m²,Sevilla,Sevilla Este,Alcalde L Urunuela Palacio De Congresos,Garaje incluido,Planta 3ª exterior con ascensor,Alquiler
1633,"Estudio en avenida Alcalde Luis Uruñuela, Alca...",550,no definido,35 m²,Sevilla,Sevilla Este,Alcalde L Urunuela Palacio De Congresos,Garaje incluido,Planta 3ª exterior con ascensor,Alquiler
1634,"Estudio en avenida Alcalde Luis Uruñuela, Alca...",550,no definido,40 m²,Sevilla,Sevilla Este,Alcalde L Urunuela Palacio De Congresos,Garaje incluido,Planta 2ª exterior con ascensor,Alquiler
1642,"Estudio en administrador Gutiérrez Anaya, 5, A...",550,no definido,32 m²,Sevilla,Sevilla Este,Alcalde L Urunuela Palacio De Congresos,No,Planta 1ª exterior con ascensor,Alquiler

In [709]:
df_ciudades1 = f.division_descripcion(df_ciudades1)

c:\Users\Carlota\OneDrive\Escritorio\Proyect-1\src\cleaning_functions.py:43: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Indeterminado' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[no_tiene_mask, ['Planta', 'Interior/Exterior', 'Ascensor']] = 'Indeterminado'

In [710]:
df_ciudades1['Metros cuadrados (m²)'].str.strip()

0        65 m²
1        79 m²
2        88 m²
3        67 m²
4        73 m²
         ...
1662     98 m²
1663     80 m²
1664    100 m²
1665     80 m²
1666     85 m²
Name: Metros cuadrados (m²), Length: 9424, dtype: object

In [711]:
df_ciudades1 = f.limpiar_num(df_ciudades1)

In [712]:
df_ciudades1['Metros cuadrados (m²)'].unique()

array([ 65.   ,  79.   ,  88.   ,  67.   ,  73.   , 107.   ,  60.   ,
       109.   , 117.   ,  58.   , 120.   , 105.   , 112.   ,  56.   ,
       140.   , 106.   , 270.   , 407.   ,  87.   , 104.   ,  57.   ,
       100.   ,  71.   ,  47.   ,  53.   ,  74.   , 130.   ,  84.   ,
        54.   ,  72.   ,  91.   ,  70.   ,  55.   , 113.   ,  68.   ,
       103.   ,  90.   ,  95.   ,  75.   ,  80.   ,  78.   ,  85.   ,
        99.   , 272.   , 132.   , 111.   , 200.   ,  40.   ,  98.   ,
        69.   ,  52.   , 178.   ,  89.   ,  66.   ,  86.   ,  44.   ,
        94.   ,  77.   , 210.   , 136.   , 101.   ,  83.   ,  30.   ,
        64.   , 127.   , 102.   , 171.   , 149.   , 121.   ,  92.   ,
        97.   ,  45.   ,  61.   ,  46.   ,  63.   ,  62.   , 115.   ,
        50.   ,  59.   ,  34.   , 144.   ,  27.   , 219.   ,  82.   ,
        96.   ,  43.   ,  76.   , 110.   , 153.   , 337.   , 119.   ,
       170.   ,  51.   ,  35.   , 164.   ,  48.   ,  93.   , 150.   ,
       139.   , 205.   ,  49.   ,  25.   ,  81.   ,  38.   ,  39.   ,
       135.   , 126.   , 122.   ,  28.   , 287.   , 129.   , 226.   ,
       253.   , 283.   , 197.   , 175.   , 243.   , 213.   , 220.   ,
       174.   , 441.   , 222.   , 185.   , 191.   , 189.   , 116.   ,
       167.   , 228.   , 229.   , 199.   , 187.   , 246.   , 161.   ,
       302.   , 221.   , 181.   , 147.   , 165.   , 180.   , 215.   ,
       275.   , 138.   , 356.   , 214.   , 409.   , 700.   , 227.   ,
       141.   , 182.   , 142.   , 131.   , 195.   , 224.   , 239.   ,
       183.   , 202.   , 155.   , 248.   , 156.   , 134.   , 169.   ,
       124.   , 254.   , 290.   , 269.   , 133.   , 163.   , 154.   ,
       232.   , 218.   , 273.   , 172.   , 256.   , 176.   , 159.   ,
       137.   , 265.   , 300.   ,  33.   , 128.   , 166.   , 293.   ,
       259.   , 168.   , 151.   , 162.   , 123.   , 160.   , 204.   ,
       284.   , 350.   , 328.   , 145.   , 282.   , 334.   , 203.   ,
       108.   , 206.   , 125.   , 212.   ,  41.   , 190.   , 470.   ,
       515.   , 194.   , 240.   , 118.   , 295.   , 268.   , 158.   ,
       177.   , 114.   , 299.   , 157.   , 249.   , 143.   , 420.   ,
       421.   , 250.   , 236.   , 207.   , 184.   , 173.   , 186.   ,
       280.   , 370.   , 230.   ,  19.   ,   1.271, 148.   , 353.   ,
       277.   , 575.   , 252.   , 146.   , 192.   , 152.   , 193.   ,
       225.   , 376.   , 255.   , 234.   , 548.   , 294.   , 235.   ,
       209.   , 238.   , 241.   , 310.   , 308.   , 330.   , 201.   ,
       264.   , 380.   , 414.   , 392.   , 211.   , 453.   ,  23.   ,
       179.   , 257.   , 408.   , 198.   , 357.   , 331.   , 510.   ,
         1.48 , 233.   , 542.   , 500.   ,   1.735, 850.   , 842.   ,
       378.   , 953.   , 650.   ,   1.205, 463.   , 643.   , 679.   ,
       488.   , 612.   , 508.   , 498.   , 298.   , 347.   , 503.   ,
       292.   , 260.   , 396.   , 374.   , 332.   ,   1.1  , 501.   ,
       490.   , 335.   , 580.   , 400.   , 360.   , 604.   , 620.   ,
       908.   , 406.   , 506.   , 600.   , 690.   , 638.   ,   1.126,
       464.   , 530.   , 188.   , 451.   , 461.   , 342.   , 550.   ,
       390.   , 349.   , 285.   , 622.   , 317.   , 546.   ,  26.   ,
       217.   ,  37.   , 208.   ,  42.   , 262.   , 312.   , 315.   ,
       388.   , 307.   , 375.   , 320.   , 435.   , 429.   , 583.   ,
       267.   , 223.   , 524.   , 426.   , 297.   , 291.   ,   1.6  ,
       261.   , 800.   , 288.   ,   1.   ,   1.7  ,  27.789,   4.   ,
       468.   , 289.   , 430.   , 433.   , 446.   , 355.   , 531.   ,
       286.   ,  36.   ,  22.   , 425.   , 258.   ,  24.   , 576.   ,
        29.   ,  32.   , 555.   ,  31.   ,  16.   ])

In [713]:
df_ciudades1 = f.no_definido_habitaciones(df_ciudades1)

In [714]:
df_ciudades1['Numero habitaciones'].value_counts()

Numero habitaciones
3     3628
2     2710
4     1210
1     1136
5      260
2      173
6       89
9       41
3       38
1       33
7       29
8       19
4       11
10      10
14       7
5        6
12       5
20       5
13       4
16       3
11       2
18       2
24       1
21       1
40       1
Name: count, dtype: int64

In [715]:
df_ciudades1['Regimen'].unique()

array(['Compra', 'Alquiler'], dtype=object)

In [716]:
df_ciudades1['Regimen'].value_counts()

Regimen
Compra      5566
Alquiler    3858
Name: count, dtype: int64

## Eliminar duplicados

In [717]:
df_ciudades1.duplicated().sum()

3251

In [718]:
df_ciudades1[df_ciudades1.duplicated()]

,Vivienda,Precio (€),Numero habitaciones,Metros cuadrados (m²),Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen,Planta,Interior/Exterior,Ascensor
18,"Piso en calle Paulina Odiaga, San Isidro, Madrid",220000,2,60.0,Madrid,Carabanchel,San Isidro,No,Planta 2ª exterior sin ascensor,Compra,2ª,Exterior,No
26,"Piso en alto de San Isidro, San Isidro, Madrid",450000,3,140.0,Madrid,Carabanchel,San Isidro,Garaje incluido,Planta 3ª exterior con ascensor,Compra,3ª,Exterior,Si
28,"Piso en calle de Peñafiel, San Isidro, Madrid",350000,3,106.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior sin ascensor,Compra,1ª,Exterior,No
29,"Piso en calle de Peñafiel, San Isidro, Madrid",350000,3,106.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior sin ascensor,Compra,1ª,Exterior,No
60,"Ático en calle Rascón, 33, San Isidro, Madrid",409000,2,95.0,Madrid,Carabanchel,San Isidro,Garaje incluido,Planta 4ª exterior con ascensor,Compra,4ª,Exterior,Si
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1662,"Piso en Laos, 5, Emilio Lemos, Sevilla",980,3,98.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler,Bajo,Exterior,Si
1663,"Piso en Laos, 5, Emilio Lemos, Sevilla",905,2,80.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler,1ª,Exterior,Si
1664,"Piso en Laos, 5, Emilio Lemos, Sevilla",990,3,100.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler,1ª,Exterior,Si
1665,"Piso en Laos, 5, Emilio Lemos, Sevilla",855,2,80.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler,Bajo,Exterior,Si
1666,"Piso en calle Pakistán, 5, Emilio Lemos, Sevilla",750,2,85.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo interior con ascensor,Alquiler,Bajo,Interior,Si

In [719]:
df_ciudades1 = df_ciudades1.drop_duplicates()

In [720]:
df_ciudades1[df_ciudades1.duplicated()]

Empty DataFrame
Columns: [Vivienda, Precio (€), Numero habitaciones, Metros cuadrados (m²), Ciudad, Zona, Barrio, Garaje, Descripcion, Regimen, Planta, Interior/Exterior, Ascensor]
Index: []

In [721]:
df_ciudades1

,Vivienda,Precio (€),Numero habitaciones,Metros cuadrados (m²),Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen,Planta,Interior/Exterior,Ascensor
0,"Piso en San Isidro, Madrid",245000,2,65.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior con ascensor,Compra,1ª,Exterior,Si
1,"Piso en calle de Pablo Montesinos, San Isidro,...",240000,3,79.0,Madrid,Carabanchel,San Isidro,No,Bajo exterior con ascensor,Compra,Bajo,Exterior,Si
2,"Piso en calle Soldado José María Rey, San Isid...",199000,1,88.0,Madrid,Carabanchel,San Isidro,No,Planta 2ª exterior con ascensor,Compra,2ª,Exterior,Si
3,"Piso en calle Alcaudón, San Isidro, Madrid",237000,3,67.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior con ascensor,Compra,1ª,Exterior,Si
4,"Piso en San Isidro, Madrid",250000,2,73.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior sin ascensor,Compra,1ª,Exterior,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1644,"Piso en Laos, 5, Emilio Lemos, Sevilla",980,3,98.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler,Bajo,Exterior,Si
1645,"Piso en Laos, 5, Emilio Lemos, Sevilla",905,2,80.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler,1ª,Exterior,Si
1646,"Piso en Laos, 5, Emilio Lemos, Sevilla",990,3,100.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler,1ª,Exterior,Si
1647,"Piso en Laos, 5, Emilio Lemos, Sevilla",855,2,80.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler,Bajo,Exterior,Si
1648,"Piso en calle Pakistán, 5, Emilio Lemos, Sevilla",750,2,85.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo interior con ascensor,Alquiler,Bajo,Interior,Si

## Unificar el nombre de la ciudad

In [722]:
ciudades_df = list(set(df_ciudades1['Ciudad'].to_list()))

In [723]:
municipios_top_20 = ["Madrid", "Barcelona", "Valencia", "Sevilla", "Zaragoza", "Málaga", "Murcia", "Palma", "Las Palmas de Gran Canaria", "Alacant/Alicante","Bilbao", "Córdoba", "Valladolid", "Vigo","L´Hospitalet de Llobregat","Gijón", "Vitoria-Gasteiz", "A Coruña", "Elche/Elx", "Granada"]

In [724]:
f.comprobar(df_ciudades1)

Cordoba
Gijon
Palma De Mallorca
Alicante Alacant
A Coruna
Las Palmas De Gran Canaria
Elche Elx
Hospitalet De Llobregat
Vitoria Gasteiz
Malaga

In [725]:
df_ciudades1 = f.unificar_ciudades(df_ciudades1)

In [726]:
f.comprobar(df_ciudades1)

In [727]:
df_ciudades1.columns

Index(['Vivienda', 'Precio (€)', 'Numero habitaciones',
       'Metros cuadrados (m²)', 'Ciudad', 'Zona', 'Barrio', 'Garaje',
       'Descripcion', 'Regimen', 'Planta', 'Interior/Exterior', 'Ascensor'],
      dtype='object')

In [728]:
df_ciudades1.rename(columns={'Ciudad':'Municipio'}, inplace= True)

In [729]:
df_ciudades1.columns

Index(['Vivienda', 'Precio (€)', 'Numero habitaciones',
       'Metros cuadrados (m²)', 'Municipio', 'Zona', 'Barrio', 'Garaje',
       'Descripcion', 'Regimen', 'Planta', 'Interior/Exterior', 'Ascensor'],
      dtype='object')

## Datos nulos

In [730]:
df_ciudades1.isnull().sum() # no hay valores vacios

Vivienda                 0
Precio (€)               0
Numero habitaciones      0
Metros cuadrados (m²)    0
Municipio                0
Zona                     0
Barrio                   0
Garaje                   0
Descripcion              0
Regimen                  0
Planta                   0
Interior/Exterior        0
Ascensor                 0
dtype: int64

Eliminar columna descripcion

In [731]:
df_ciudades1.drop(columns="Descripcion", inplace=True)

In [732]:
df_ciudades1

,Vivienda,Precio (€),Numero habitaciones,Metros cuadrados (m²),Municipio,Zona,Barrio,Garaje,Regimen,Planta,Interior/Exterior,Ascensor
0,"Piso en San Isidro, Madrid",245000,2,65.0,Madrid,Carabanchel,San Isidro,No,Compra,1ª,Exterior,Si
1,"Piso en calle de Pablo Montesinos, San Isidro,...",240000,3,79.0,Madrid,Carabanchel,San Isidro,No,Compra,Bajo,Exterior,Si
2,"Piso en calle Soldado José María Rey, San Isid...",199000,1,88.0,Madrid,Carabanchel,San Isidro,No,Compra,2ª,Exterior,Si
3,"Piso en calle Alcaudón, San Isidro, Madrid",237000,3,67.0,Madrid,Carabanchel,San Isidro,No,Compra,1ª,Exterior,Si
4,"Piso en San Isidro, Madrid",250000,2,73.0,Madrid,Carabanchel,San Isidro,No,Compra,1ª,Exterior,No
...,...,...,...,...,...,...,...,...,...,...,...,...
1644,"Piso en Laos, 5, Emilio Lemos, Sevilla",980,3,98.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Alquiler,Bajo,Exterior,Si
1645,"Piso en Laos, 5, Emilio Lemos, Sevilla",905,2,80.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Alquiler,1ª,Exterior,Si
1646,"Piso en Laos, 5, Emilio Lemos, Sevilla",990,3,100.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Alquiler,1ª,Exterior,Si
1647,"Piso en Laos, 5, Emilio Lemos, Sevilla",855,2,80.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Alquiler,Bajo,Exterior,Si
1648,"Piso en calle Pakistán, 5, Emilio Lemos, Sevilla",750,2,85.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Alquiler,Bajo,Interior,Si

# 2. Añadir datos adicionales

### 2.1 Afiliados **Seguridad Social**

In [733]:
df_afiliados = pd.read_csv("files/datos_para_almacenar/Afiliados.csv", sep=";")

In [734]:
df_afiliados = df_afiliados.drop(columns="Unnamed: 0")

In [735]:
df_afiliados

                     Municipio  reg_autonomos  reg_general    total
0              Vitoria-Gasteiz          12556       113431   128182
1             Alacant/Alicante          21904       194761   220393
2                    Elche/Elx          16002        68998    87780
3                        Palma          31272       237944   274052
4                    Barcelona         128665      1071264  1227111
5    L´Hospitalet de Llobregat          13046        92373   106346
6                      Córdoba          19680       120721   145002
7                     A Coruña          15352       129757   149457
8                      Granada          16592       123937   145124
9                       Madrid         203442      2065860  2338583
10                      Málaga          37152       289323   333024
11                      Murcia          30877       201907   245133
12                       Gijón          16142        65407    84221
13  Las Palmas de Gran Canaria          22047       177695   206098
14                        Vigo          18252       120631   143920
15                     Sevilla          38779       355465   404333
16                    Valencia          60581       377161   453882
17                  Valladolid          15948       137483   156554
18                      Bilbao          21921       164290   193218
19                    Zaragoza          38941       274477   321363

### 2.2 Años de construccion de las viviendas

In [736]:
df_anos = pd.read_csv("files/datos_para_almacenar/construccion.csv", sep=";")

In [737]:
df_anos = df_anos.drop(columns="Unnamed: 0")

In [738]:
def comprobar_municipio(df_ciudades1): 
    ciudades_df = list(set(df_ciudades1['Municipio'].to_list()))

    for ciu in ciudades_df: 
        
        if ciu not in municipios_top_20: 
            print(ciu)

In [739]:
comprobar_municipio(df_anos)

In [740]:
df_anos

,Total viviendas en municipio,Total Antes de 1900,Total De 1900 a 1920,Total De 1921 a 1940,Total De 1941 a 1950,Total De 2011 a 2020,Total No consta,Vivienda principal Total,Vivienda no principal Total,Total De 1951 a 1970,Total De 1971 a 1990,Total De 1991 a 2010,Municipio
0,187.658,350.000,1.752,3.098,2.582,3.395,2.703,135.864,51.794,57.540,60.375,55.863,Alacant/Alicante
1,808.751,35.051,75.201,85.023,23.495,11.007,14.183,671.177,137.574,280.748,205.859,78.184,Barcelona
2,165.685,3.882,8.025,9.342,7.491,4.994,0.000,149.461,16.224,72.150,37.791,22.010,Bilbao
3,136.205,1.636,2.530,5.276,3.534,3.072,347.000,104.637,31.568,39.204,42.141,38.465,A Coruña
4,155.400,6.000,819.000,1.792,3.875,6.008,683.000,122.668,32.732,41.797,53.800,46.620,Córdoba
5,116.080,169.000,1.831,1.903,1.520,3.140,420.000,88.498,27.582,24.553,41.432,41.112,Elche/Elx
6,148.955,1.805,2.071,1.845,1.417,4.255,1.864,120.349,28.606,47.333,46.569,41.796,Gijón
7,141.257,465.000,4.588,2.640,2.475,3.083,1.318,98.316,42.941,34.872,59.137,32.679,Granada
8,110.488,98.000,1.016,3.786,1.964,2.907,452.000,101.809,8.679,53.403,36.413,10.449,L´Hospitalet de Llobregat
9,NaN,16.328,74.456,93.505,56.596,46.484,7.079,NaN,210.366,544.841,363.724,330.208,Madrid
10,219.740,155.000,1.771,3.707,5.924,5.463,13.937,163.570,56.170,38.314,54.387,96.082,Murcia
11,261.857,2.091,2.645,3.381,3.505,6.349,6.186,218.245,43.612,58.536,102.094,77.070,Málaga
12,186.482,3.858,7.836,9.238,6.420,4.349,5.693,157.101,29.381,46.347,58.055,44.686,Palma
13,175.181,536.000,2.422,5.360,4.824,1.432,8.529,143.195,31.986,49.510,53.839,48.729,Las Palmas de Gran Canaria
14,327.393,242.000,5.411,10.937,7.737,8.620,2.447,266.588,60.805,93.714,124.404,73.881,Sevilla
15,159.363,802.000,2.097,2.237,2.534,2.185,279.000,127.185,32.178,53.527,52.681,43.021,Valladolid
16,414.988,5.342,12.000,23.584,11.660,5.024,2.237,323.171,91.817,132.432,140.102,82.607,Valencia
17,144.293,843.000,5.620,5.085,5.394,2.407,2.295,114.082,30.211,30.190,48.890,43.569,Vigo
18,119.853,1.043,852.000,998.000,1.793,7.273,0.000,107.165,12.688,29.037,42.025,36.832,Vitoria-Gasteiz
19,338.961,965.000,3.227,11.897,9.268,12.075,6.588,280.054,58.907,97.331,108.966,88.644,Zaragoza

### 2.3 m2_poblacion_municipio

In [741]:
df_m2_municipio = pd.read_csv("../src/files/datos_para_almacenar/m2_poblacion_municipio.csv", sep =";")

In [742]:
df_m2_municipio.columns
set(df_m2_municipio['Municipio'].to_list())

{'A Coruña',
 'Alacant/Alicante',
 'Barcelona',
 'Bilbao',
 'Córdoba',
 'Elche/Elx',
 'Gijón',
 'Granada',
 'Las Palmas de Gran Canaria',
 'L´Hospitalet de Llobregat',
 'Madrid',
 'Murcia',
 'Málaga',
 'Palma',
 'Sevilla',
 'Valencia',
 'Valladolid',
 'Vigo',
 'Vitoria-Gasteiz',
 'Zaragoza'}

In [743]:
f.comprobar_municipio(df_m2_municipio)

In [744]:
df_m2_municipio = df_m2_municipio.drop(["Unnamed: 0"], axis=1)

In [745]:
df_m2_municipio

                     Municipio  Población  m2_municipio
0              Vitoria-Gasteiz    238.247       277.000
1             Alacant/Alicante    334.418       201.000
2                    Elche/Elx    230.822       326.000
3                        Palma    404.681       209.000
4                    Barcelona  1.619.337        98.000
5    L´Hospitalet de Llobregat    258.642        14.000
6                      Córdoba    328.547         1.255
7                     A Coruña    246.047        38.000
8                      Granada    239.154        88.000
9                       Madrid  3.273.049       606.000
10                      Málaga    568.507       395.000
11                      Murcia    441.345       886.000
12                       Gijón    277.198       182.000
13  Las Palmas de Gran Canaria    383.308       101.000
14                        Vigo    297.124       109.000
15                     Sevilla    704.198       141.000
16                    Valencia    809.267       135.000
17                  Valladolid    315.522       197.000
18                      Bilbao    353.187        41.000
19                    Zaragoza    675.121       974.000

### 2.4 **Regimen** viviendas

In [746]:
df_regimen = pd.read_csv("files/datos_para_almacenar/Regimen.csv", sep=";")

In [747]:
df_regimen.columns

Index(['Unnamed: 0', 'index', 'Municipio', 'En alquiler', 'En propiedad',
       'Otro régimen de tenencia', 'Total (régimen de tenencia)', '%propiedad',
       '%alquiler', 'Proporcion Propiedad/Alquiler'],
      dtype='object')

In [748]:
f.comprobar_municipio(df_regimen)

In [749]:
set(df_regimen['Municipio'].to_list())

{'A Coruña',
 'Alacant/Alicante',
 'Barcelona',
 'Bilbao',
 'Córdoba',
 'Elche/Elx',
 'Gijón',
 'Granada',
 'Las Palmas de Gran Canaria',
 'L´Hospitalet de Llobregat',
 'Madrid',
 'Murcia',
 'Málaga',
 'Palma',
 'Sevilla',
 'Valencia',
 'Valladolid',
 'Vigo',
 'Vitoria-Gasteiz',
 'Zaragoza'}

In [750]:
df_regimen = df_regimen.drop('Unnamed: 0', axis = 1)

In [751]:
df_regimen

,index,Municipio,En alquiler,En propiedad,Otro régimen de tenencia,Total (régimen de tenencia),%propiedad,%alquiler,Proporcion Propiedad/Alquiler
0,7,Alacant/Alicante,21.801,104.009,10.054,135.864,76.553760,16.046193,4.770836
1,17,Barcelona,208.468,409.684,53.025,671.177,61.039636,31.060063,1.965213
2,20,Bilbao,21.483,122.697,5.281,149.461,82.092987,14.373649,5.711353
3,34,A Coruña,24.679,69.246,10.712,104.637,66.177356,23.585347,2.805867
4,39,Córdoba,13.264,102.031,7.373,122.668,83.176542,10.812926,7.692325
5,44,Elche/Elx,10.843,72.774,4.881,88.498,82.232367,12.252254,6.711611
6,53,Gijón,18.553,90.297,11.499,120.349,75.029290,15.415998,4.866976
7,55,Granada,18.166,70.361,9.789,98.316,71.566174,18.477155,3.873225
8,59,L´Hospitalet de Llobregat,27.916,66.941,6.952,101.809,65.751554,27.419973,2.397944
9,73,Madrid,317.766,927.975,77.114,NaN,NaN,NaN,2.920309
10,83,Murcia,26.137,121.850,15.583,163.570,74.494100,15.979092,4.661973
11,84,Málaga,29.366,174.332,14.547,218.245,79.879035,13.455520,5.936525
12,91,Palma,39.403,104.815,12.883,157.101,66.718226,25.081317,2.660077
13,92,Las Palmas de Gran Canaria,31.685,94.443,17.067,143.195,65.954119,22.127169,2.980685
14,124,Sevilla,37.015,210.473,19.100,266.588,78.950665,13.884721,5.686154
15,140,Valladolid,18.622,96.543,12.020,127.185,75.907536,14.641664,5.184352
16,141,Valencia,55.865,242.186,25.120,323.171,74.940511,17.286514,4.335201
17,142,Vigo,22.106,81.984,9.992,114.082,71.864098,19.377290,3.708676
18,146,Vitoria-Gasteiz,16.237,88.571,2.357,107.165,82.649186,15.151402,5.454887
19,149,Zaragoza,50.140,213.969,15.945,280.054,76.402765,17.903690,4.267431

### 2.5 **Tamaño** del hogar

In [782]:
df_tamaño_hogar = pd.read_csv("files/datos_para_almacenar/Tamaño_del_hogar.csv", sep=";")

In [783]:
df_tamaño_hogar = df_tamaño_hogar.drop('Unnamed: 0', axis=1)

In [784]:
f.comprobar_municipio(df_tamaño_hogar)

In [785]:
len(df_tamaño_hogar['Municipio'].to_list())

20

In [786]:
df_tamaño_hogar

,Municipio,1 persona,2 personas,3 personas,4 personas,5 o más personas
0,Alacant/Alicante,39.536,37.976,27.155,21.375,9.822
1,Barcelona,207.973,205.174,126.877,89.495,41.658
2,Bilbao,47.407,47.145,28.826,19.589,6.494
3,A Coruña,32.234,32.136,21.498,13.961,4.808
4,Córdoba,31.242,33.205,25.885,23.487,8.849
5,Elche/Elx,20.773,24.444,19.225,16.947,7.109
6,Gijón,38.928,39.375,24.710,13.156,4.180
7,Granada,33.549,27.223,17.464,13.384,6.696
8,L´Hospitalet de Llobregat,24.350,31.953,21.324,15.227,8.955
9,Madrid,397.447,380.686,251.859,190.474,102.389
10,Murcia,37.959,40.165,33.960,32.762,18.724
11,Málaga,54.869,58.621,46.385,39.436,18.934
12,Palma,38.296,43.849,33.830,25.061,16.065
13,Las Palmas de Gran Canaria,36.913,38.672,31.725,22.133,13.752
14,Sevilla,71.162,73.909,54.457,47.003,20.057
15,Valladolid,39.631,39.140,25.488,16.863,6.063
16,Valencia,96.493,93.169,64.611,48.242,20.656
17,Vigo,29.871,32.045,24.834,18.390,8.942
18,Vitoria-Gasteiz,33.223,33.280,19.913,15.690,5.059
19,Zaragoza,80.672,84.237,57.506,42.713,14.926

In [757]:
df_tamaño_hogar.dtypes

Municipio            object
1 persona           float64
2 personas          float64
3 personas          float64
4 personas          float64
5 o más personas    float64
dtype: object

### 2.6 **Número** de viviendas **turísticas**

In [758]:
df_turismo = pd.read_csv("../src/files/datos_para_almacenar/turismo.csv", sep=";")

In [759]:
df_turismo = df_turismo.drop("Unnamed: 0", axis = 1)

In [760]:
df_turismo

    Turismo 2024                   Municipio
0          177.0             Vitoria-Gasteiz
1         3589.0            Alacant/Alicante
2          760.0                   Elche/Elx
3         1023.0                       Palma
4         8842.0                   Barcelona
5          874.0   L´Hospitalet de Llobregat
6         1981.0                     Córdoba
7          847.0                    A Coruña
8         2622.0                     Granada
9        16100.0                      Madrid
10        7038.0                      Málaga
11         984.0                      Murcia
12        1427.0                       Gijón
13        2634.0  Las Palmas de Gran Canaria
14        1324.0                        Vigo
15        6171.0                     Sevilla
16        6769.0                    Valencia
17         330.0                  Valladolid
18        1134.0                      Bilbao
19         934.0                    Zaragoza

In [761]:
df_turismo[df_turismo['Municipio'].isin( municipios_top_20)]

    Turismo 2024                   Municipio
0          177.0             Vitoria-Gasteiz
1         3589.0            Alacant/Alicante
2          760.0                   Elche/Elx
3         1023.0                       Palma
4         8842.0                   Barcelona
5          874.0   L´Hospitalet de Llobregat
6         1981.0                     Córdoba
7          847.0                    A Coruña
8         2622.0                     Granada
9        16100.0                      Madrid
10        7038.0                      Málaga
11         984.0                      Murcia
12        1427.0                       Gijón
13        2634.0  Las Palmas de Gran Canaria
14        1324.0                        Vigo
15        6171.0                     Sevilla
16        6769.0                    Valencia
17         330.0                  Valladolid
18        1134.0                      Bilbao
19         934.0                    Zaragoza

### 2.6 Tamaño

In [762]:
df_tamaño = pd.read_csv("../src/files/datos_para_almacenar/Tamaño.csv", sep=";")

In [763]:
df_tamaño = df_tamaño.drop(columns="Unnamed: 0")

In [764]:
df_tamaño

,Municipio,total_superficie,menos_de_60m2,entre_61_y_105m2,mas_de_106m2,%menos_de_60m2,%entre_61_y_105m2,%mas_de_106m2
0,Vitoria-Gasteiz,119853,13501,92161,14191,11.264633,76.895030,11.840338
1,Alacant/Alicante,187658,37608,119585,28691,20.040712,63.724968,15.288983
2,Elche/Elx,116080,17738,73758,24435,15.280841,63.540662,21.050138
3,Palma,186482,45228,105354,34841,24.253279,56.495533,18.683305
4,Barcelona,808751,395237,332921,64688,48.870048,41.164833,7.998506
5,L´Hospitalet de Llobregat,110488,79438,29218,1321,71.897401,26.444501,1.195605
6,Córdoba,155400,41373,86848,26825,26.623552,55.886744,17.261905
7,A Coruña,136205,40341,82693,12987,29.617855,60.712162,9.534892
8,Granada,141257,23167,88612,29082,16.400603,62.731050,20.588006
9,Madrid,1533221,724030,660976,141824,47.222807,43.110289,9.250069
10,Málaga,261857,73569,148376,38981,28.095105,56.662988,14.886369
11,Murcia,219740,36158,133309,49178,16.454901,60.666697,22.380086
12,Gijón,148955,46097,90908,11792,30.946930,61.030513,7.916485
13,Las Palmas de Gran Canaria,175181,49264,89351,29221,28.121771,51.004961,16.680462
14,Vigo,144293,36389,79500,26143,25.218826,55.096228,18.117996
15,Sevilla,327393,99194,182780,42836,30.298143,55.828927,13.083969
16,Valencia,414988,89560,265371,58119,21.581347,63.946668,14.004983
17,Valladolid,159363,40016,102536,16623,25.109969,64.341158,10.430903
18,Bilbao,165685,38972,105838,20875,23.521743,63.879048,12.599209
19,Zaragoza,338961,117443,187534,33641,34.647939,55.326129,9.924741

### 2. Unión de datos

In [765]:
df_final = pd.merge(df_ciudades1, df_tamaño_hogar, on="Municipio", how ="inner")

In [766]:
f.comprobar_municipio(df_final)

In [767]:
df_final = pd.merge(df_final, df_m2_municipio, on="Municipio", how ="inner")

In [768]:
df_final = pd.merge(df_final, df_anos, on="Municipio", how ="inner")

In [769]:
df_final = pd.merge(df_final, df_afiliados, on="Municipio", how ="inner")

In [770]:
df_final = pd.merge(df_final, df_turismo, on="Municipio", how ="inner")

In [771]:
df_final = pd.merge(df_final, df_regimen, on="Municipio", how ="inner")

In [772]:
df_final = pd.merge(df_final, df_tamaño, on="Municipio", how ="inner")

In [773]:
len(set(df_final['Municipio'].to_list()))

20

In [774]:
df_final.columns

Index(['Vivienda', 'Precio (€)', 'Numero habitaciones',
       'Metros cuadrados (m²)', 'Municipio', 'Zona', 'Barrio', 'Garaje',
       'Regimen', 'Planta', 'Interior/Exterior', 'Ascensor', '1 persona',
       '2 personas', '3 personas', '4 personas', '5 o más personas',
       'Población', 'm2_municipio', 'Total viviendas en municipio',
       'Total Antes de 1900', 'Total De 1900 a 1920', 'Total De 1921 a 1940',
       'Total De 1941 a 1950', 'Total De 2011 a 2020', 'Total No consta',
       'Vivienda principal Total', 'Vivienda no principal Total',
       'Total De 1951 a 1970', 'Total De 1971 a 1990', 'Total De 1991 a 2010',
       'reg_autonomos', 'reg_general', 'total', 'Turismo 2024', 'index',
       'En alquiler', 'En propiedad', 'Otro régimen de tenencia',
       'Total (régimen de tenencia)', '%propiedad', '%alquiler',
       'Proporcion Propiedad/Alquiler', 'total_superficie', 'menos_de_60m2',
       'entre_61_y_105m2', 'mas_de_106m2', '%menos_de_60m2',
       '%entre_61_y_105m2', '%mas_de_106m2'],
      dtype='object')

In [775]:
df_final.rename(columns={'total': 'Total afiliados',
                 'Total (régimen de tenencia)': 'Total viviendas'}, inplace= True)

In [776]:
df_final.drop(columns='Total viviendas en municipio', inplace=True)

In [777]:
df_final.drop(columns=['Vivienda principal Total', 'Vivienda no principal Total'], inplace=True)

In [778]:
df_final

,Vivienda,Precio (€),Numero habitaciones,Metros cuadrados (m²),Municipio,Zona,Barrio,Garaje,Regimen,Planta,...,%propiedad,%alquiler,Proporcion Propiedad/Alquiler,total_superficie,menos_de_60m2,entre_61_y_105m2,mas_de_106m2,%menos_de_60m2,%entre_61_y_105m2,%mas_de_106m2
0,"Piso en San Isidro, Madrid",245000,2,65.0,Madrid,Carabanchel,San Isidro,No,Compra,1ª,...,NaN,NaN,2.920309,1533221,724030,660976,141824,47.222807,43.110289,9.250069
1,"Piso en calle de Pablo Montesinos, San Isidro,...",240000,3,79.0,Madrid,Carabanchel,San Isidro,No,Compra,Bajo,...,NaN,NaN,2.920309,1533221,724030,660976,141824,47.222807,43.110289,9.250069
2,"Piso en calle Soldado José María Rey, San Isid...",199000,1,88.0,Madrid,Carabanchel,San Isidro,No,Compra,2ª,...,NaN,NaN,2.920309,1533221,724030,660976,141824,47.222807,43.110289,9.250069
3,"Piso en calle Alcaudón, San Isidro, Madrid",237000,3,67.0,Madrid,Carabanchel,San Isidro,No,Compra,1ª,...,NaN,NaN,2.920309,1533221,724030,660976,141824,47.222807,43.110289,9.250069
4,"Piso en San Isidro, Madrid",250000,2,73.0,Madrid,Carabanchel,San Isidro,No,Compra,1ª,...,NaN,NaN,2.920309,1533221,724030,660976,141824,47.222807,43.110289,9.250069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6168,"Piso en avenida Pablo Picasso, 1, Zaidín, Granada",800,3,80.0,Granada,Zaidin,Zaidin,No,Alquiler,Bajo,...,71.566174,18.477155,3.873225,141257,23167,88612,29082,16.400603,62.731050,20.588006
6169,"Piso en avenida Barcelona, 18, Zaidín, Granada",700,3,140.0,Granada,Zaidin,Zaidin,No,Alquiler,9ª,...,71.566174,18.477155,3.873225,141257,23167,88612,29082,16.400603,62.731050,20.588006
6170,"Piso en Zaidín, Granada",850,3,96.0,Granada,Zaidin,Zaidin,Garaje incluido,Alquiler,Bajo,...,71.566174,18.477155,3.873225,141257,23167,88612,29082,16.400603,62.731050,20.588006
6171,"Piso en calle Covadonga, 6, Zaidín, Granada",800,3,70.0,Granada,Zaidin,Zaidin,No,Alquiler,2ª,...,71.566174,18.477155,3.873225,141257,23167,88612,29082,16.400603,62.731050,20.588006
6172,"Piso en Zaidín, Granada",900,3,90.0,Granada,Zaidin,Zaidin,No,Alquiler,Planta 1ª,...,71.566174,18.477155,3.873225,141257,23167,88612,29082,16.400603,62.731050,20.588006

In [779]:
set(df_final['Municipio'].to_list())

{'A Coruña',
 'Alacant/Alicante',
 'Barcelona',
 'Bilbao',
 'Córdoba',
 'Elche/Elx',
 'Gijón',
 'Granada',
 'Las Palmas de Gran Canaria',
 'L´Hospitalet de Llobregat',
 'Madrid',
 'Murcia',
 'Málaga',
 'Palma',
 'Sevilla',
 'Valencia',
 'Valladolid',
 'Vigo',
 'Vitoria-Gasteiz',
 'Zaragoza'}

# 3.  Exportar datos limpios

In [780]:
os.makedirs("files", exist_ok=True)
df_final.to_csv("files/datos_para_almacenar/datos_limpios.csv", sep =";")

In [781]:
df_final

,Vivienda,Precio (€),Numero habitaciones,Metros cuadrados (m²),Municipio,Zona,Barrio,Garaje,Regimen,Planta,...,%propiedad,%alquiler,Proporcion Propiedad/Alquiler,total_superficie,menos_de_60m2,entre_61_y_105m2,mas_de_106m2,%menos_de_60m2,%entre_61_y_105m2,%mas_de_106m2
0,"Piso en San Isidro, Madrid",245000,2,65.0,Madrid,Carabanchel,San Isidro,No,Compra,1ª,...,NaN,NaN,2.920309,1533221,724030,660976,141824,47.222807,43.110289,9.250069
1,"Piso en calle de Pablo Montesinos, San Isidro,...",240000,3,79.0,Madrid,Carabanchel,San Isidro,No,Compra,Bajo,...,NaN,NaN,2.920309,1533221,724030,660976,141824,47.222807,43.110289,9.250069
2,"Piso en calle Soldado José María Rey, San Isid...",199000,1,88.0,Madrid,Carabanchel,San Isidro,No,Compra,2ª,...,NaN,NaN,2.920309,1533221,724030,660976,141824,47.222807,43.110289,9.250069
3,"Piso en calle Alcaudón, San Isidro, Madrid",237000,3,67.0,Madrid,Carabanchel,San Isidro,No,Compra,1ª,...,NaN,NaN,2.920309,1533221,724030,660976,141824,47.222807,43.110289,9.250069
4,"Piso en San Isidro, Madrid",250000,2,73.0,Madrid,Carabanchel,San Isidro,No,Compra,1ª,...,NaN,NaN,2.920309,1533221,724030,660976,141824,47.222807,43.110289,9.250069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6168,"Piso en avenida Pablo Picasso, 1, Zaidín, Granada",800,3,80.0,Granada,Zaidin,Zaidin,No,Alquiler,Bajo,...,71.566174,18.477155,3.873225,141257,23167,88612,29082,16.400603,62.731050,20.588006
6169,"Piso en avenida Barcelona, 18, Zaidín, Granada",700,3,140.0,Granada,Zaidin,Zaidin,No,Alquiler,9ª,...,71.566174,18.477155,3.873225,141257,23167,88612,29082,16.400603,62.731050,20.588006
6170,"Piso en Zaidín, Granada",850,3,96.0,Granada,Zaidin,Zaidin,Garaje incluido,Alquiler,Bajo,...,71.566174,18.477155,3.873225,141257,23167,88612,29082,16.400603,62.731050,20.588006
6171,"Piso en calle Covadonga, 6, Zaidín, Granada",800,3,70.0,Granada,Zaidin,Zaidin,No,Alquiler,2ª,...,71.566174,18.477155,3.873225,141257,23167,88612,29082,16.400603,62.731050,20.588006
6172,"Piso en Zaidín, Granada",900,3,90.0,Granada,Zaidin,Zaidin,No,Alquiler,Planta 1ª,...,71.566174,18.477155,3.873225,141257,23167,88612,29082,16.400603,62.731050,20.588006